/**************/
/* Custom RULES */
/**************/
.post .social-likes-wrapper {
  display: none !important;
}

.social-likes_single-w {	
  display: none !important;
}

.page-title {
  font-family: 'Lucida Grande', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lucida Grande', sans-serif;	
}

.header-wrap {
	background-color: #F77F00;
	width: %100;
	border-bottom: 2px solid #4C4D4F;
}

header .site-description {
	color: #FFF !important;
	font-family: 'Montserrat', sans-serif;
}

header a {
	color: #FFF !important;
	font-family: 'Montserrat', sans-serif;
}

@media (max-width: 400px) {
  header a {
  	text-decoration: underline;
  }
}

.header-wrap header {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 2px solid #F77F00;
}

.gallery {
  	text-align: center;
  }

.gallery .entry {
  border: solid 5px #006C93;
  display: inline-block;
  padding: 5px;
  padding-bottom: 10px;
  margin: 10px;
}

.social-likes_single-w {
  display: block;
  margin-top: -15px;
}

@media (max-width: 400px) {
  .gallery img {
    width: 90%;
  }
}

@media (min-width: 400px) {
  .gallery img {
    width: auto;
    height: 180px;
  }
}

.gallery img {
  margin: 15px;
  display: block;
}

@media (min-width: 225px) {
  .gallery p {
  	display: inline;
  }
}

.post {
  text-align: center;
}

.submission img {
  max-height: 375px;
  max-width: 85%;
  border: solid 1px #333;
  margin: 20px;
}

.post .social-likes-wrapper {
  display: block;
  text-align: center;
}

.post .social-likes {
  background-color: #B9E1E2;
  padding: 5px;
  margin: 5px;
  border: solid 1px #517C96;
  border-radius: 3px;
}

.button-prev-submission, .button-next-submission {
  background-color: #F77F00;
  padding: 5px;
  border-radius: 2px;
  color: #FFF;
}

@media (max-width: 400px) {
	.button-prev-submission .full-text, .button-next-submission .full-text {
		display: none;
	}	
}




/* Modifications to the counter on the home page */

.social-likes__widget.social-likes__widget_single {
  /*height: 2.2em;*/
  background-color: #F77F00;
  border-radius: 2px;
  /* pointer-events: none; /*Disables the link*/
  /* cursor: default; /*Disables the link*/
}

.social-likes__button.social-likes__button_single {
  /*display: none;*/
}

.social-likes__counter.social-likes__counter_single {
  background-color: #F77F00;
  border-radius: 2px;
  padding-left: 10px;
  font-weight: bold;
  font-size: 1.8em;
  margin-top: -5px;
  pointer-events: none;
  cursor: default;
  margin-top: -10px;
}

.social-likes__counter.social-likes__counter_single a {
  pointer-events: none;
  cursor: default;
}
