.gallery {
  	text-align: center;
  }

@media (max-width: 400px) {
  .gallery img {
    width: 90%;
  }
}

@media (min-width: 400px) {
  .gallery img {
    width: auto;
    height: 200px;
  }
}

@media (min-width: 225px) {
  .gallery p {
  	display: inline;
  }
}

.post {
  text-align: center;
}

.entry img {
  max-width: 500px;
}

