/**************/
/* Custom RULES */
/**************/
.page-title {
  font-family: 'Lucida Grande', sans-serif;
}

.header-wrap {
	background-color: #F77F00;
	width: %100;
	border-bottom: 2px solid #4C4D4F;
}

header p, header a {
	color: #FFF !important;
	font-family: 'Montserrat', sans-serif;;
}
.header-wrap header {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 2px solid #F77F00;
}

.gallery {
  	text-align: center;
  }

@media (max-width: 400px) {
  .gallery img {
    width: 90%;
  }
}

@media (min-width: 400px) {
  .gallery img {
    width: auto;
    height: 200px;
  }
}

.gallery img {
  border: solid 1px #333;
  margin: 15px;
}

@media (min-width: 225px) {
  .gallery p {
  	display: inline;
  }
}

.post {
  text-align: center;
}

.entry img {
  max-width: 500px;
}

