<!-- for Facebook -->          
<meta property="og:title" content="Vote and submit designs for the WomEngineers Day 2015 T-Shirt Contest!" />
<meta property="og:type" content="article" />
<meta property="og:url" content="http://www.womengineersday.com/tshirts{{page.url}}" />
<meta property="og:image" content="{{page.image-url}}" />
<meta property="og:description" content="WomEngineers Day 2015 T-Shirt Contest Submission" />

<!-- for Google -->
<meta name="description" content="Vote and submit designs for the WomEngineers Day 2015 T-Shirt Contest!" />
<meta name="keywords" content="Engineering, Conference, T-Shirt, Contest, 2015, Knoxville, University, Tennessee" />
<meta name="author" content="WomEngineers Day 2015" />
<meta name="copyright" content="WomEngineers Day 2015" />
<meta name="application-name" content="www.womengineersday.com/tshirts" />

<!-- for Twitter -->          
<meta name="twitter:card" content="Vote and submit designs for the WomEngineers Day 2015 T-Shirt Contest!" />
<meta name="twitter:title" content="WomEngineers Day T-Shirt Contest" />
<meta name="twitter:description" content="WomEngineers Day 2015 T-Shirt Contest Submission" />
<meta name="twitter:image" content="{{page.image-url}}"/>
