<!-- for Google -->
<meta name="description" content="Vote and submit designs for the WomEngineers Day 2015 T-Shirt Contest!" />
<meta name="keywords" content="Engineering, Conference, T-Shirt, Contest, 2015, Knoxville, University, Tennessee" />

<meta name="author" content="WomEningeers Day 2015" />
<meta name="copyright" content="WomEningeers Day 2015" />
<meta name="application-name" content="womengineersday.com/tshirts" />

<!-- for Facebook -->          
<meta property="og:title" content="Vote and submit designs for the WomEngineers Day 2015 T-Shirt Contest!" />
<meta property="og:type" content="article" />
<!--<meta property="og:image" content="{{site.fullurl}}/images/logo.jpeg" />-->
<meta property="og:image" content="{{page.image-url}}"/>
<meta property="og:url" content="{{site.fullurl}}{{page.url}}" />
<meta property="og:description" content="" />

<!-- for Twitter -->          
<meta name="twitter:card" content="Vote and submit designs for the WomEngineers Day 2015 T-Shirt Contest!" />
<meta name="twitter:title" content="WomEngineers Day T-Shirt Contest" />
<meta name="twitter:description" content="Vote and submit designs for the WomEngineers Day 2015 T-Shirt Contest!" />
<!--<meta name="twitter:image" content="{{site.fullurl}}/images/logo.jpeg" />-->
<meta name="twitter:image" content="{{page.image-url}}"/>
