---
layout: default
---

<article class="post">
  <h3>Share, Tweet, and +1 to vote for this submission!</h3>
  
  <div class="social-likes">
    <div class="facebook" title="Share link on Facebook">Facebook</div>
    <div class="twitter" title="Share link on Twitter">Twitter</div>
    <div class="plusone" title="Share link on Google+">Google+</div>
  </div>
  
  <div class="submission">
   <img src="{{page.image-url}}" alt="{{page.title}}"></img>
  </div>

  <div class="date">
    Submitted on {{ page.date | date: "%B %e, %Y" }} by {{page.artist}}
  </div>
  
  <div class="social-likes">
    <div class="facebook" title="Share link on Facebook">Facebook</div>
    <div class="twitter" title="Share link on Twitter">Twitter</div>
    <div class="plusone" title="Share link on Google+">Google+</div>
  </div>


</article>
